{% extends 'base.html' %}

{% block content %}
    <h1>Busca de Disciplinas</h1>
    
    <form action="{% url 'consultar' %}" method="POST">
        {% csrf_token %}
        
        <input type="text" name="codigo" placeholder="Código">
        <input type="text" name="nome" placeholder="Disciplina">
        <input type="text" name="professor" placeholder="Professor">
        
        <div class="btn-group">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
                &#x1F50D;
            </button>
            
            <div class="container text-center">
                <div class="row justify-content-start">
                    <ul class="dropdown-menu dropdown-menu-lg-end p-3" style="width: 300px;">
                        <div class="row">
                            <div class="col">
                                <label><Strong>Dia: </Strong></label>
                                <li><input type="checkbox" name="dia" value="SEG"> Segunda</li>
                                <li><input type="checkbox" name="dia" value="TER"> Terça</li>
                                <li><input type="checkbox" name="dia" value="QUA"> Quarta</li>
                                <li><input type="checkbox" name="dia" value="QUI"> Quinta</li>
                                <li><input type="checkbox" name="dia" value="SEX"> Sexta</li>
                            </div>
                            
                            <div class="col">
                                <label><strong>Horário:</strong></label>
                                <li><input type="checkbox" name="horario" value="07-"> 7h</li>
                                <li><input type="checkbox" name="horario" value="09-"> 9h</li>
                                <li><input type="checkbox" name="horario" value="11-"> 11h</li>
                                <li><input type="checkbox" name="horario" value="13-"> 13h</li>
                                <li><input type="checkbox" name="horario" value="15-"> 15h</li>
                                <li><input type="checkbox" name="horario" value="17-"> 17h</li>
                                <li><input type="checkbox" name="horario" value="18-"> 18h</li>
                            </div>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
        
        <button type="submit" class="btn btn-primary">Consultar</button>
    </form>

    {% if resultado %}
    <h3>Resultado</h3>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th scope="col">Código</th>
                <th scope="col">Matéria</th>
                <th scope="col">Professor</th>
                <th scope="col">Horários</th>
            </tr>
        </thead>
        <tbody>
            {% for chave, horarios in resultado.items %}
            <tr>
                <td class="align-middle">{{ chave.0 }}</td>
                <td class="align-middle">{{ chave.1 }}</td>
                <td class="align-middle">{{ chave.2 }}</td>
                <td>
                    {% for horario in horarios %}
                        <a href= "{% url 'disciplina' chave.0 chave.2 %}">{{ horario }}</a><br>
                    {% endfor %}
                </td>
            {% endfor %}
        </tbody>
    </table>
    {% elif resultado == None %}
    {% else %}
    <h4>Nenhum resultado encontrado.</h4>
    {% endif %}
{% endblock %}
